@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    270deg,
    hsla(236, 100%, 8%, 1) 0%,
    hsla(221, 100%, 5%, 1) 100%
  );
  scroll-behavior: smooth;
}

/* ==========Nav=========== */

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 20px;
  background-color: #35367e;
  border-radius: 8px;
  position: fixed;
  width: 97vw;
  z-index: 9999;
}
nav > img {
  height: 70px;
  width: auto;
}
nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav > ul > li {
  margin-left: 20px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #c6eff7;
}
nav > ul > li > a:hover {
  color: #79a2ab;
  transition: 0.5s ease;
}
nav > .nav-cta {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding-left: 15px;
  color: red;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.5s ease;
  font-weight: 800;
  font-size: 20px;
}
nav > .nav-cta:hover {
  color: #e0668f;
}

/* ==========End Nav=========== */

/* ==========Main Section=========== */
.main-section {
  height: 100vh;
  width: auto;
  color: white;
}
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.greeting {
  font-family: "poppins", sans-serif;
  font-size: large;
  font-weight: 600;
  font-size: 35px;
  color: hsl(240, 100%, 97%);
}
.message {
  font-family: "open sans", sans-serif;
  font-weight: 900;
  font-size: 70px;
  color: hsl(236, 100%, 90%);
}
.message > span {
  color: red;
  font-size: 60px;
  font-weight: 900;
}
/* ==========End Main Section=========== */

/* ==========About Me Section=========== */
.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  /* background: #effafd; */
  background-color: hsl(236, 100%, 8%);
}
.about-me-card {
  /* border: 1px solid hsl(236, 100%, 70%); */
  background: hsl(236, 100%, 90%);
  border-radius: 8px;
  padding: 50px 50px;
  width: 90%;
  text-align: center;
  color: hsl(221, 100%, 5%);
  box-shadow: 0px 16px 40px -3px rgba(204, 207, 255, 0.1);
}
.about-me-card > h2 {
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
}
.about-me-card > p {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

/* ==========Divider=========== */

.custom-shape-divider-bottom-1698161924 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698161924 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1698161924 .shape-fill {
  fill: hsl(236, 100%, 8%);
}

/* ==========End Divider=========== */

.services-title {
  color: #c6eff7;
  align-items: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin-top: 10px;
}

/* ==========Services Section=========== */
.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  width: 90%;
}
.grid-item {
  padding: 20px 15px;
  text-align: center;
  border: 1px solid#c6eff7;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.grid-item > i {
  font-size: 40px;
  margin-bottom: 10px;
}
.grid-item > h2 {
  font-family: "poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: hsl(236, 100%, 90%);
}
.grid-item > p {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: hsl(236, 100%, 80%);
  margin-top: 10px;
}

/* .services-section > .grid-title {
  color: hsl(236, 100%, 90%);
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
} */
/* ==========End Services section=========== */

.previous-work-title {
  color: #c6eff7;
  align-items: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin-top: 15px;
}
/* ==========Previous work Section=========== */
.previous-work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 35vh; */
  margin-top: 10px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Style individual cards */
.card {
  padding: 20px;
  background: hsl(236, 100%, 90%);
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 16px 40px -3px rgba(204, 207, 255, 0.1);
}

/* Style card images (adjust size as needed) */
.card img {
  width: 200px;
  height: auto;
}

/* ==========End Work Section=========== */

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .card-grid {
    grid-template-columns: 1fr;
  }
}
